body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
header {
    background-color: #ff5a5f;
    color: white;
    padding: 20px 0;
    text-align: center;
}
 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
 
nav .logo {
    font-size: 24px;
    font-weight: bold;
}
 
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
 
nav ul li {
    display: inline;
}
 
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    background-color: darkred;
    transform: translateY(-3px);
}

.hero {
    background: url('/src/assets/banner/natureza.webp') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: white;
}
 
.hero-text {
    padding: 20px;
}
 
.hero-text h1 {
    margin: 0;
}

.support {
    padding: 40px;
    text-align: center;
    font-weight: bold;
}
 
.support h2 {
    margin-bottom: 20px;
}
 
.support-options {
    display: flex;
    justify-content: space-around;
}
 
.support-options .option {
    background: black;
    color: white;
    padding: 20px;
    width: 30%;
    height: 200px; /* Set a fixed height to make the boxes more squared */
    text-align: center;
    border-radius: 5px; /* Adjust or remove to make the corners more squared */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.products {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
 
.product-card {
    text-align: center;
    width: 30%;
}
 
.product-card img {
    width: 100%;
    height: auto;
}
 
.product-card h3 {
    margin: 10px 0;
}
 
.product-card .sale {
    text-decoration: line-through;
    color: red;
}
 
.products .product-card button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
 
.products .product-card button:hover {
    background-color: darkred;
}